@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
** ========== 宽度 ==========
*/
.w-p-0 {
  width: 0%;
}

.w-p-1 {
  width: 1%;
}

.w-p-2 {
  width: 2%;
}

.w-p-3 {
  width: 3%;
}

.w-p-4 {
  width: 4%;
}

.w-p-5 {
  width: 5%;
}

.w-p-6 {
  width: 6%;
}

.w-p-7 {
  width: 7%;
}

.w-p-8 {
  width: 8%;
}

.w-p-9 {
  width: 9%;
}

.w-p-10 {
  width: 10%;
}

.w-p-11 {
  width: 11%;
}

.w-p-12 {
  width: 12%;
}

.w-p-13 {
  width: 13%;
}

.w-p-14 {
  width: 14%;
}

.w-p-15 {
  width: 15%;
}

.w-p-16 {
  width: 16%;
}

.w-p-17 {
  width: 17%;
}

.w-p-18 {
  width: 18%;
}

.w-p-19 {
  width: 19%;
}

.w-p-20 {
  width: 20%;
}

.w-p-21 {
  width: 21%;
}

.w-p-22 {
  width: 22%;
}

.w-p-23 {
  width: 23%;
}

.w-p-24 {
  width: 24%;
}

.w-p-25 {
  width: 25%;
}

.w-p-26 {
  width: 26%;
}

.w-p-27 {
  width: 27%;
}

.w-p-28 {
  width: 28%;
}

.w-p-29 {
  width: 29%;
}

.w-p-30 {
  width: 30%;
}

.w-p-31 {
  width: 31%;
}

.w-p-32 {
  width: 32%;
}

.w-p-33 {
  width: 33%;
}

.w-p-34 {
  width: 34%;
}

.w-p-35 {
  width: 35%;
}

.w-p-36 {
  width: 36%;
}

.w-p-37 {
  width: 37%;
}

.w-p-38 {
  width: 38%;
}

.w-p-39 {
  width: 39%;
}

.w-p-40 {
  width: 40%;
}

.w-p-41 {
  width: 41%;
}

.w-p-42 {
  width: 42%;
}

.w-p-43 {
  width: 43%;
}

.w-p-44 {
  width: 44%;
}

.w-p-45 {
  width: 45%;
}

.w-p-46 {
  width: 46%;
}

.w-p-47 {
  width: 47%;
}

.w-p-48 {
  width: 48%;
}

.w-p-49 {
  width: 49%;
}

.w-p-50 {
  width: 50%;
}

.w-p-51 {
  width: 51%;
}

.w-p-52 {
  width: 52%;
}

.w-p-53 {
  width: 53%;
}

.w-p-54 {
  width: 54%;
}

.w-p-55 {
  width: 55%;
}

.w-p-56 {
  width: 56%;
}

.w-p-57 {
  width: 57%;
}

.w-p-58 {
  width: 58%;
}

.w-p-59 {
  width: 59%;
}

.w-p-60 {
  width: 60%;
}

.w-p-61 {
  width: 61%;
}

.w-p-62 {
  width: 62%;
}

.w-p-63 {
  width: 63%;
}

.w-p-64 {
  width: 64%;
}

.w-p-65 {
  width: 65%;
}

.w-p-66 {
  width: 66%;
}

.w-p-67 {
  width: 67%;
}

.w-p-68 {
  width: 68%;
}

.w-p-69 {
  width: 69%;
}

.w-p-70 {
  width: 70%;
}

.w-p-71 {
  width: 71%;
}

.w-p-72 {
  width: 72%;
}

.w-p-73 {
  width: 73%;
}

.w-p-74 {
  width: 74%;
}

.w-p-75 {
  width: 75%;
}

.w-p-76 {
  width: 76%;
}

.w-p-77 {
  width: 77%;
}

.w-p-78 {
  width: 78%;
}

.w-p-79 {
  width: 79%;
}

.w-p-80 {
  width: 80%;
}

.w-p-81 {
  width: 81%;
}

.w-p-82 {
  width: 82%;
}

.w-p-83 {
  width: 83%;
}

.w-p-84 {
  width: 84%;
}

.w-p-85 {
  width: 85%;
}

.w-p-86 {
  width: 86%;
}

.w-p-87 {
  width: 87%;
}

.w-p-88 {
  width: 88%;
}

.w-p-89 {
  width: 89%;
}

.w-p-90 {
  width: 90%;
}

.w-p-91 {
  width: 91%;
}

.w-p-92 {
  width: 92%;
}

.w-p-93 {
  width: 93%;
}

.w-p-94 {
  width: 94%;
}

.w-p-95 {
  width: 95%;
}

.w-p-96 {
  width: 96%;
}

.w-p-97 {
  width: 97%;
}

.w-p-98 {
  width: 98%;
}

.w-p-99 {
  width: 99%;
}

.w-p-100 {
  width: 100%;
}

.btn, .btn-1 {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  border: none;
  padding: 0 30px;
  margin: 0;
}
.btn:hover, .btn-1:hover {
  opacity: 0.75;
}

.btn-1 {
  background-color: #49AC9C;
  color: #ffffff;
}

html,
body {
  overflow: hidden;
  background-color: #E0E1E6;
  height: 100%;
  font-family: "微软雅黑";
  font-size: 14px;
  line-height: 1;
}

* {
  box-sizing: border-box;
}

td,
th {
  font-family: "微软雅黑";
}

li {
  list-style: none;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #999;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}

input,
select,
textarea {
  padding: 10px;
  border: 1px solid #eee;
  resize: none;
  outline: none;
  font-family: "微软雅黑";
  margin: 0;
  padding: 0 15px;
  font-size: 14px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

textarea {
  padding: 30px;
}

.header-top {
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  background-color: #49AC9C;
  color: #ffffff;
}

.layout-a {
  display: -webkit-box;
  height: 100%;
  -webkit-box-orient: vertical;
}
.layout-a .layout-a-down {
  -webkit-box-flex: 1;
}

.flex-1 {
  display: flex;
  align-items: streatch;
  justify-content: space-between;
}

.flex-1, .flex-1 > div {
  border: 10px solid #eee;
}
.flex-1 > div {
  width: 33.333%;
}

.result {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  height: 100%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li {
  line-height: 2;
}

.layout-a-down {
  position: relative;
}

.layout-a .layout-a-up,
.layout-a .layout-a-up .btn-1,
.layout-a .layout-a-up select,
.layout-a .layout-a-up input {
  min-height: 50px;
  line-height: 50px;
}
.layout-a .layout-a-up .btn-1,
.layout-a .layout-a-up select,
.layout-a .layout-a-up input {
  vertical-align: top;
  border: none;
}

.flex-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
